/* body{
    background: linear-gradient(rgb(18, 160, 165), #f0f0f0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: 100vh;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
input{
    height: 20px;
    width: 210px;
    border-radius: 3px;
    border: #000000;
    padding: 10px;
}
input::placeholder{
    color: black;
}
input:focus {
   border: #f0f0f0;
   outline: none;
}
h4{
    margin: 0px 10px 5px 0px;
}
label{
    display: block;
    margin-left: 10px;
    height: ;
} */