*{
    margin: 0;
    padding: 0;
    border: 0;
}
li, li > a{
    display: inline;
    text-decoration: none;
    color: antiquewhite;

}
a{
    margin-right: 5rem;
}
nav{
    background-color: black;
    height: 2rem;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
footer{
    text-align: center;
}