*{
    margin: 0;
    padding: 0;
    border: 0;
    
}
body{
    background-color: rgba(26, 23, 23, 0.507);

}
li, li > a{
    display: inline;
    text-decoration: none;
    color: antiquewhite;

}
a{
    margin-right: 5rem;
    text-decoration: none;
    color: antiquewhite;
}
nav{
    background-color: black;
    height: 2rem;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
footer{
    text-align: center;
}
article{
    margin: 10px;
    /* background-color: rgba(26, 23, 23, 0.507); */
    height: 600px;
    padding: 10px;
    border-radius: 10px;
}
section{
    margin: 5px;
}
.copyp{
    position: relative;

}
.copy{
    position: absolute;
    top: 90%;
}